/** variables to use: no magic numbers here */
:root {
  --rounding: 8px;
  --pale-blue: #90c6f0;
  --pale-peach: #fcf4e9;
  --accent-1: #0163d2;
  --accent-2: #ffe0b6;
}

html {
  margin: 2rem;
  background-color: midnightblue;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background: linear-gradient(
    180deg,
    var(--pale-blue) 0%,
    var(--pale-peach) 100%
  );
  padding: 1rem;
  border: 1px solid black;
  border-radius: var(--rounding);
}

form-field {
  display: grid;
}

input[type="textarea"] {
  min-height: 3rem;
}

input[type="submit"] {
  margin: auto;
  height: 2rem;
  width: 40%;
  background-color: var(--accent-2);
  font-family: "KoPub Batang", serif;
  font-size: 16px;
  border-radius: var(--rounding);
}

.invalid {
  border: 1px solid red;
  color: red;
}

input:valid {
  border: 1px solid black;
  color: black;
}
output {
  display: flex;
  flex-direction: column;
  height: 10%;
}
#errors p {
  opacity: 0;
  text-align: center;
  align-content: center;
  transition: opacity 0.5s ease-out;
  background-color: red;
  color: white;
  padding: 2px;
  border-radius: var(--rounding);
}
#information p {
  opacity: 0;
  text-align: center;
  align-content: center;
  transition: opacity 0.5s ease-out;
  background-color: var(--accent-1);
  color: white;
  padding: 2px;
  border-radius: var(--rounding);
}
.invalid-entry {
  background-color: rgba(255, 0, 0, 0.3);
}
